@import '../../_variables';

.button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  text-align: center;
  font-size: 0.8rem;
  color: $primaryColor;
  outline: 0;
  text-decoration: none;
  
  @include clickable;
}

.button__icon {
  display: block;
  font-size: 1.8rem;
  margin: 0 auto 0.4rem auto;
}

.noIcon {
  font-size: 1em;
  text-decoration: underline;
}
