.carousel {
  overflow: hidden;
}

.carousel__items {
  overflow: hidden;
  transition: transform 0.5s, height 0.5s;
}

.carousel__items__item {
  padding: 0 0.5rem;
  float: left;
}

.carousel__prev {
  padding: 0.5rem;
  float: left;
}

.carousel__next {
  padding: 0.5rem;
  float: right;
}

.carousel__next svg {
  transform: rotateY(180deg);
}
