@import '../../_variables';

$animation-duration: 0.5s;

.withslidepanel {
  background: black;
  @include maxWidthQuery {
    background: white;
  }
}

.withslidepanel__container {
  background: white;
  transform: scale(1);
  transition: transform $animation-duration;
}

.withslidepanel__container--transitioning {
  transform: scale(0.9);
}

.withslidepanel__container--slidepanelon {
  position: fixed;
  overflow: hidden;
}

.slidepanel__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.slidepanel {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  background: white;
  top: 0;
  left: auto;
  right: -110vw;
  bottom: 0;
  width: 100vw;
  overflow: auto;
  transition: right $animation-duration;
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  @include maxWidthQuery {
    width: $maxWidth;
    right: -($maxWidth + 60px);
  }
}

.slidepanel--open {
  right: 0;
}

.slidepanel__header {
  position: relative;
  padding: 0.8rem;
}

.slidepanel__header + * {
  clear: both;
}

.slidepanel__header__back {
  position: absolute;
  margin: -0.5rem;
  padding: 0.5rem;
  background: none;
  border: 0;
  color: $primaryColor;
  float: left;
  font-size: 1.4rem;
  outline: 0;

  @include clickable;
}

.slidepanel__header__title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 500;
}
