.section {
  padding: 0;
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.section__ruler {
  margin: 0 0.5rem;
  border-top: 1px solid #c9c9c9;
}

.section__title {
  font-weight: 700;
  padding: 0;
  margin: 2rem 0.2rem 1.6rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.section__in_view {
  opacity: 1;
  transform: translateY(0);
}
