.experiencedetails {
  overflow: hidden;
}

.experiencedetails__roles {
  overflow: hidden;
  transition: transform 0.5s, height 0.5s;
}

.experiencedetails__roles__role {
  padding: 0 0.5rem;
  float: left;
}

.experiencedetails__prev {
  padding: 0.5rem;
  float: left;
}

.experiencedetails__next {
  padding: 0.5rem;
  float: right;
}

.experiencedetails__next svg {
  transform: rotateY(180deg);
}
