@import '../../_variables';
$padding-left: 4.25rem;

.container {
  margin-bottom: $margin*4;
}

.role {
  margin-left: $margin;
  margin-top: $margin*2;
  margin-bottom: $margin*6;
}

.heading {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: $margin * 4;
}

.paragraph {
  font-size: $fontSize;
  line-height: 1.6em;
  text-align: justify;
  margin: $margin 0;
}
