@use '../../variables';
$padding-left: 4.25rem;

.container {
  margin-bottom: variables.$margin*4;
}

.role {
  margin-left: variables.$margin;
  margin-top: variables.$margin*2;
  margin-bottom: variables.$margin*6;
}

.heading {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: variables.$margin * 4;
}

.paragraph {
  font-size: variables.$fontSize;
  line-height: 1.6em;
  text-align: justify;
  margin: variables.$margin 0;
}
